.About {
    width: 100%;
    height: 100dvh;
    position: absolute;
    color: rgb(153, 151, 151);
}

.About_decription {
    color: #c0c0c0;
    font-size: 5rem;
    position: relative;
    /* top: 15rem; */
    z-index: 200;
    left: 7rem;
    font-family: "Quantico", sans-serif;
    line-height: 110%;
    
}
.catchy_line{
    position: absolute;
    top: 50%;
    left: 7rem;
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    font-size: 1rem;
    z-index: 200;
    color: #a2a2a2;
}

.man-container {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100;
    /* left: 13rem; */
}