.Home {
    position: relative;
    width: 100vw;
    height: 100dvh;
    top: 0;
        left: 0;
    background-color: black;

}
.Name_model {
    position: absolute;
    width: 100vw;
    overflow: hidden;
}
.Name_model img {
    transform: translateY(-70%);
    filter: grayscale(100%);
    width: 100%;
}